<div class="container">
  <h3>Shop With Us And Feel Good!</h3>
  <br/>
  <div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 18rem">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Title is here
              </p>
              <div class="row">
                <div class="col-md-6">
                    <p>
                        <button class="btn btn-outline-warning btn-sm">View Details</button>
                    </p>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-outline-success btn-sm">Add to Wishlist</button>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
